<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.btn {
  background-color: DodgerBlue;
  border: 25px;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  width: 100%;
}

.container {
    padding-top: 500px;
    padding-left: 500px;
    padding-right: 500px;
}
h2 {text-align: center;}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}
</style>


<body>
    <h2 >Impact of Future Climate Events on NC Animal Agriculture Systems</h2>
    <div class="container" align="center">
        <a href="/download" target="blank"><button class='btn btn-default'><i class="fa fa-download"></i> Download</button></a>
   </div>
  <!-- <div class="container">
    <a href="/download" target="blank"></a><button class="btn" style="width:100%"><i class="fa fa-download"></i> Download</button></a>
  </div> -->

</body>
</html>
