
/*
 * Styles for demo only
 */
$purple: #5c4084;
body {
    background-color: $purple;
    margin: 4rem;
}
.container {
    padding: 4rem 5rem;
    background-color: #fff;
    border-radius: 1rem;
    width: 100%;
    max-width: 45rem;
}
h1 {
    color: #fff;
    font-size: 2.8rem;
    font-weight: 600;
    margin: 0 0 0.5rem 0;
    background: -webkit-linear-gradient(#fff, #999);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}
h4 {
    color: lighten(#5c3d86,30%);
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    margin: 0 0 3.5rem 0;
}
.btn.btn-primary {
    background-color: $purple;
    border-color: $purple;
    outline: none;
&:hover {
     background-color: darken($purple, 10%);
     border-color: darken($purple, 10%);
 }
&:active, &:focus {
               background-color: lighten($purple, 5%);
               border-color: lighten($purple, 5%);
           }
}