<!DOCTYPE html>
<html>
    <style>
        h2 {text-align: center;}
        div {
        float: left;
        height: 470px;
        width: 23%;
        padding: 0 10px;
      }
        </style>
<body>

<h2 >Impact of Future Climate Events on NC Animal Agriculture Systems</h2>

<form method="POST" action="/submit" enctype="multipart/form-data">
  <!-- <label for="farmFile">Farm File:</label><br> -->

  <div>
    <br><h4>Climate Input File</h4>
    <input type="file" id="climateFile" name="climateFile" required><br><br>
  </div>

  <div>
    <h4>Farm Input File</h4>
    <input type="file" id="farmFile" name="farmFile" required> <br>
  </div>

  <div>
    <br><h4>Field Input File</h4>
    <input type="file" id="fieldFile" name="fieldFile" required><br><br>
  </div>


  <!-- <label for="fieldFile">Field File:</label><br> -->

<br>
  <input type="submit" value="Download">
</form>

<p>If you click the "Download" button, the submitted input files will be used for simulation. Please, download the response File.</p>

</body>
</html>

