<!DOCTYPE html>
<html>
    <style>
        h2 {text-align: center;}
       
        </style>
<body>

<h2 >Impact of Future Climate Events on NC Animal Agriculture Systems</h2>

<form method="POST" action="/submit" enctype="multipart/form-data">
  <!-- <label for="farmFile">Farm File:</label><br> -->
  <p>Farm File</p>
  <input type="file" id="farmFile" name="farmFile"> <br>
  
  <!-- <label for="fieldFile">Field File:</label><br> -->
  <br><p>Field File</p><br>
  <input type="file" id="fieldFile" name="fieldFile"><br><br>

  <input type="submit" value="Submit">
</form> 

<p>If you click the "Submit" button, the submitted input files will be used for simulation. Please, download the response File.</p>

</body>
</html>

